In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
import os

In [11]:
host = "db"
database = "postgres"
user = "postgres"
password = "postgres"
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [12]:
%sql $connection_string

In [13]:
%%sql 

SELECT * from cities LIMIT 10

 * postgresql://postgres:***@db/postgres
10 rows affected.

[(1, 'Bombo', 'UGA', 0.5833, 32.5333, 75000),
 (2, 'Fort Portal', 'UGA', 0.671, 30.275, 42670),
 (3, 'Potenza', 'ITA', 40.642, 15.799, 69060),
 (4, 'Campobasso', 'ITA', 41.563, 14.656, 50762),
 (5, 'Aosta', 'ITA', 45.737, 7.315, 34062),
 (6, 'Mariehamn', 'ALD', 60.097, 19.949, 10682),
 (7, 'Ramallah', 'PSE', 31.90294, 35.20621, 24599),
 (8, 'Vatican City', 'VAT', 41.90001, 12.44781, 832),
 (9, 'Poitier', 'FRA', 46.58329, 0.33328, 85960),
 (10, 'Clermont-Ferrand', 'FRA', 45.77998, 3.08001, 233050)]