In [ ]:
%load_ext sql

In [ ]:
import os

In [ ]:
host = "db"
database = "postgres"
user = "postgres"
password = "postgres"
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [ ]:
%sql $connection_string

In [ ]:
%%sql 

SELECT * from cities LIMIT 10

In [ ]:
%%sql

SELECT name, country FROM cities LIMIT 10

In [ ]:
%%sql

SELECT DISTINCT country FROM cities LIMIT 10

In [ ]:
%%sql

SELECT COUNT(DISTINCT country) FROM cities

In [ ]:
%%sql

SELECT MAX(population) FROM cities

In [ ]:
%%sql

SELECT SUM(population) FROM cities

In [ ]:
%%sql

SELECT AVG(population) FROM cities

In [ ]:
%%sql

SELECT * FROM cities ORDER BY country LIMIT 10

In [ ]:
%%sql 

SELECT * FROM cities ORDER BY country ASC, population DESC LIMIT 10

In [ ]:
%%sql

SELECT * FROM cities WHERE country='USA'

In [ ]:
%%sql

SELECT * FROM cities WHERE country='USA' OR country='CAN'

In [ ]:
%%sql 

SELECT * FROM cities WHERE country='USA' AND population>1000000

In [ ]:
%%sql

SELECT * FROM cities WHERE country LIKE 'U%'

In [ ]:
%%sql

SELECT * FROM cities WHERE country LIKE '%A'

In [ ]:
%%sql 

SELECT * FROM cities WHERE country LIKE '_S_'

In [ ]:
%%sql

SELECT * FROM cities WHERE country IN ('USA', 'CAN', 'CHN')

In [ ]:
%%sql 

SELECT * FROM cities WHERE population BETWEEN 1000000 AND 10000000